body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}
p {
    font-size: 1.5em;
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	background: #2A2A2A;
	padding: 60px 0;
	margin-top: 80px;
	color: #C0C0C0;
}
#footer a { color: #ddd; }
#footer a:hover { color: #fff; }
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
}


#header bolder a:hover,
#header bolder a { text-decoration: none; }

#header .name {
	font-style:italic;
	font-weight:400;
}

