body {
    margin: 60px auto;
    width: 70%;
	font: 16px/1.8em 'Source Sans Pro', Helvetica, Calibri, Verdana, sans-serif;
	font-weight: 400;
	color: #111;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
nav ul, footer ul {
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-size: 1em;
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    text-decoration: underline;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    font-weight: 400;
}
p {
    font-size: 1em;
    font-family:'Source Sans Pro','Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
}
footer {
    background: #2A2A2A;
	padding: 60px 0;
	margin-top: 80px;
	color: #C0C0C0;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
