/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
	cursor: pointer;
}

/* make buttons play nice in IE:
		www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
	width: auto;
	overflow: visible;
}

/* Sharper Thumbnails */
img {
	-ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
	padding: 5px;
	font: 400 1em 'Source Sans Pro', Helvetica, Calibri, Verdana, sans-serif;
	color: #666;
	background: #fff;
	border: 1px solid #999999;
	margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
	color: #000;
	background: #fff;
	border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
/* If you go back to Sans Pro, make sure you change the font-weighting. */
body {
	font: 16px/1.8em 'Source Sans Pro', Helvetica, Calibri, Verdana, sans-serif;
	font-weight: 400;
	color: #111;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

a, a:visited {
	color: Blue;
	text-decoration: underline;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

a:hover, a:active {
	color: #000;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	line-height: 1.2em;
	margin-bottom: 0.6em;
	font-weight: 400;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
	margin-top: 2em;
}

h4 {
	font-size: 1.2em;
	margin-top: 2em;
}

hintro {
	font-size: 1.3em;
	font-family: 'Source Sans Pro', Helvetica, Calibri, Verdana, sans-serif;
	line-height: 1.2em;
	font-weight: 400;
}

date, .date {
	float: right;
}

p {
	margin-bottom: 1em;
}

ol, ul {
	padding-left: 30px;
	margin-bottom: 1em;
}

b, strong {
	font-weight: 600;
}

bolder {
	font-weight: 700;
}

i, em {
	font-weight: inherit;
	font-style: italic;
}

u {
	text-decoration: underline;
}

abbr, acronym {
	cursor: help;
	border-bottom: 0.1em dotted;
}

td, td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

code, pre {
	font-family: 'Source Code Pro', Courier, "Courier New", Monaco, Tahoma;
	background: #eee;
	color: #111;
}

code {
	padding: 0px 2px;
}

pre {
	padding: 20px;
	margin-bottom: 1em;
	overflow: auto;
}

blockquote {
	font-style: italic;
	margin: 0 0 1em 15px;
	padding-left: 10px;
	border-left: 5px solid #dddddd;
}

/* Structure Styles
/*---------------------------------------------*/
.inner {
	width: 850px;
	margin: 0 auto;
}

#header {
	padding: 30px 0;
	margin-bottom: 10px;
	text-align: center;
}
#header a { color: Blue; }
#header h1 a { text-decoration: none; }
#header h1 a,
#header a:hover { color: #000; }
#header h1 a:hover { color: Blue; }
#header h1 {
	font-weight: 600;
	margin: 10px 0;
}
#header .nav {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
#header .nav li { display: inline; }
#header .nav a {
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
}

#footer .nav {
	list-style: none;
	margin: 10px 0;
	padding: 0;
	text-align: center;
}
#footer .nav li { display: inline; }
#footer .nav a {
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1em;
}

#header bolder a:hover,
#header bolder a { text-decoration: none; }

#header .name {
	font-style:italic;
	font-weight:400;
}

#footer {
	background: #2A2A2A;
	padding: 60px 0;
	margin-top: 80px;
	color: #C0C0C0;
}
#footer a { color: #ddd; }
#footer a:hover { color: #fff; }

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Page specific styles
/*---------------------------------------------*/
section.CV ul {
	padding-left: 30px;
	text-indent: -30px;
	list-style: none;
}
